.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.env
.env.*
*.jks
*.keystore
*.p8
*.p12
ios/Flutter/Flutter.podspec
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
android/.gradle/
android/app/debug
android/app/profile
android/app/release
android/.kotlin/
android/hs_err_pid*.log
android/replay_pid*.log
web_server.log
web_server.err.log
output/*.tmp
output/*.exe
output/*.apk

supabase/.temp/
