.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
ios/Flutter/Flutter.podspec
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
android/.gradle/
android/app/debug
android/app/profile
android/app/release
